#arquivos intermediarios compilacao
*.d
*.o
*.ko
*.obj
*.elf
#saida linker
*.ilk
*.map
*.exp
#headers precompilados
*.gch
*.pch
#bibliotecas
*.lib
*.a
*.la
*.lo
#bibliotecas dinamicas
*.dll
*.so
*.so.*
*.dylib
#executaveis
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
# rquivos de debug
*.dSYM/
*.su
*.idb
*.pdb
#moduloskernel
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
#debug 
*.dwo
#executavel jogo 
jogo
